@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav-link{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
    color: #222222 !important;
    transition: all 1s;
}
.nav-link:hover{
    color: #68AC4E !important;
}
.bg-body-tertiary{
    --bs-bg-opacity: none !important;
    background-color: none !important;
}
.contacts{
    display: flex;
    list-style: none;
    align-items: center;
}
.contact{
    color: white;
    text-decoration: none;
    background: linear-gradient(92.84deg, #80CC8C 0%, #64A745 100%);
    box-shadow: 10px 5px 35px rgba(96, 155, 68, 0.72);
    border-radius: 8px;
    padding: 10px 40px;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
}
.contact:hover{
    background: linear-gradient(92.9deg, #5BCA6D 0%, #4B922A 98.33%);
}
.dropdown-menu{
    --bs-dropdown-min-width: none !important;
}
.dropdown-toggle{
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #222222 !important;
}
.dropdown{
    margin-right: 30px;
}
.dropdown-item{
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #222222 !important;
}
.fon{
    display: inline;
    width: 100%;
    height: 730px;
    top: 0;
}
.fon-vector{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 16%;
    margin-right: 9%;
}
.preview-text{
    position: absolute;
    margin-top: 18%;
    margin-left: 200px;
    top: 0;
}
h1{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: bolder !important;
    font-size: 40px !important;
    line-height: 121.4% !important;
    text-transform: uppercase !important;
    color: #222222 !important;
}
.preview-text span{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 121.4% !important;
    color: #222222 !important;
}
.more-info{
    margin-top: 3%;
}
.recycle2{
    margin-top: 1%;
}
.recycle2 span{
    font-family: 'Montserrat' !important;
    font-style: normal !important; 
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 132.9% !important;
    color: #222222 !important;
}
.recycle2 p{
    font-family: 'Montserrat' !important;
    font-style: normal !important; 
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 132.9% !important;
    color: #222222 !important;
    margin-left: 2.3%;
}
.advice{
    position: absolute;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 138.9%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(92.9deg, #80CC8C 0%, #64A745 98.33%);
    box-shadow: 10px 10px 40px rgba(96, 155, 68, 0.71);
    border-radius: 8px;
    padding: 20px 30px;
}
.advice:hover{
    background: linear-gradient(92.9deg, #5BCA6D 0%, #4B922A 98.33%);
}
.leaf_of_tree_1{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30%;
    margin-top: 33%;
}
.leaf_of_tree_2{
    position: absolute;
    left: 0;
    margin-left: 35%;
    margin-top: 37%;
}

.services{
    position: relative;
    margin-top: 6.2%;
    background-color: #F7F7F9;
}
h2{
    text-align: center !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 50px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
    color: #222222 !important;
    padding-top: 10%;
}
.vector1{
    width: 36px;
    padding-bottom: 20px;
}
.card{
    --bs-card-border-width: none !important;
    box-shadow: 0px 4px 10px rgba(178, 186, 207, 0.38) !important;
    border-radius: 22px !important;
    --bs-card-spacer-y: 2rem !important;
    --bs-card-spacer-x: 2rem !important;
    margin-left: 30px;
    margin-bottom: 30px;
}
.card span{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 121.4% !important;
    color: #222222 !important;
    display: inline-block;

}
.card-text{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 121.4% !important;
    color: #222222 !important;
}
.card-text1{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 121.4% !important;
    color: #222222 !important;
    display: inline;
}
.cards{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
.text-p{
    display: inline-block;
    width: 81%;
}
.leaf_of_tree_3{
    position: absolute;
    right: 0;
    top:0;
    margin-top: 32%;
    margin-right: 12%;
}
.leaf_of_tree_4{
    position: absolute;
    top: 0;
    margin-top: 51%;
    margin-left: 10%;
}
.buy-button{
    margin-top: 4%;
    padding-bottom: 8%;
    text-align: center;
}
.buy-button a{
    color: white !important;
    background: linear-gradient(92.9deg, #80CC8C 0%, #64A745 98.33%) !important;
    box-shadow: 10px 10px 40px rgba(96, 155, 68, 0.71) !important;
    border-radius: 8px !important;
    padding: 20px 65px;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 138.9% !important;
    text-align: center !important;
    text-transform: uppercase !important;
    text-decoration: none;
}
.buy-button a:hover{
    background: linear-gradient(92.9deg, #5BCA6D 0%, #4B922A 98.33%) !important;
}
h3{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 50px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
    color: #FFFFFF !important;
    background-color: #68AC4E;
    width: 50%;
    padding-left: 331px;
    padding-top: 144px;
    padding-bottom: 144px;
}
.advantages-text{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7%;
    margin-right: 10%;
    width: 30%;
}
.advantages-text span{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 156.4% !important;
    color: #222222 !important;
}
.advantages{
    position: relative;
    background-color: white;
}
h4{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 50px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
    color: #222222 !important;
    text-align: center;
    padding-top: 120px;
}
.work-img{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(178, 186, 207, 0.38);
    border-radius: 22px;
    padding: 15px;
}
.work{
    position: relative;
    top: 0;
    padding-bottom: 120px;
    background-color: #F7F7F9;
}
.work-details{
    padding-left: 67px;
}
.work-details div{
    display: inline-flex;
    padding-left: 25px;
}
.work-details span{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 121.4% !important;
    color: #222222 !important;
}
.how-we-work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 136px;
}
.card-details{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(178, 186, 207, 0.38);
    border-radius: 22px;
    display: inline-block;
    text-align: center;
    width: 30%;
    padding: 25px;
    padding-top: 30px;
    margin-left: 38px;
}
.card-details span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 138.9%;
    text-transform: uppercase;
    color: #222222;
}
.card-details p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;
    color: #222222;
    padding-top: 30px;
}
.cards2{
    display: flex;
    justify-content: center;
    padding-top: 105px;
}
.advice2{
    display: flex;
    padding-top: 86px;
    justify-content: center;
}
.advice2 a{
    background: linear-gradient(92.9deg, #80CC8C 0%, #64A745 98.33%);
    box-shadow: 10px 10px 40px rgba(96, 155, 68, 0.71);
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 138.9%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 25px;
    text-decoration: none;
}
.advice2 a:hover{
    background: linear-gradient(92.9deg, #5BCA6D 0%, #4B922A 98.33%);
}
.leaf_of_trees{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    padding-bottom: 100px;
    padding-right: 60px;
}
.leaf_of_tree_5{
    position: relative;
    margin-bottom: 130px;
}
h5{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 50px !important;
    line-height: 138.9% !important;
    text-transform: uppercase !important;
    color: #222222 !important;
    text-align: center;
    padding-top: 100px;
}
.responses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
}
.response{
    display: flex;
    align-items: center;
}
.response span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 147.9%;
    color: #222222;
}
.response p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;
    color: #222222;
}
.response a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 147.9%;
    text-decoration-line: underline;
    color: #68AC4E;  
}
.response a:hover{
    color: #2997ff;
}
.response-text{
    padding-left: 38px;
}
.reviews{
    background: #FBFBFB;
    padding-bottom: 183px;
}
.logo-footer{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    width: 255px;
}
.footer-text-details{
    border-right: 1px solid #C2C2C2;
    padding-right: 60px;
}
.footer-text-details3{
    padding-right: 60px;
}

.footer-text-details3 span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 147.9%;
    color: #23303B;
}
.footer-text-details3 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;
    color: #46515B;
}

.footer-text-details span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 147.9%;
    color: #23303B;
}
.footer-text-details p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;
    color: #46515B;
}
.email{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 147.9% !important;
    color: #68AC4E !important;
}
.contact-footer{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 147.9% !important;
    color: #68AC4E !important;
}
.footer-text{
    display: inline-block;
    padding: 20px;
    margin-top: 80px;
}
.footer-texts{
    display: flex;
    justify-content: center;
}
footer{
    position: relative;
}
.leaf_of_trees_footer{
    top: 0;
    padding-top: 225px;
    position: absolute;
}
.leaf_of_tree_8{
    padding-top: 72px;
    display: block;
}
.rights{
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 70px;
}
.rights span{
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 147.9% !important;
    color: #A7A7A7 !important;
}
.design{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 147.9%;
    color: #A7A7A7;
    margin-bottom: 30px;
    margin-right: 170px;
}